doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/siimple@3.3.1/dist/siimple.min.css")
  body
    .siimple-navbar.siimple-navbar--large.top-menu-custom
      a.siimple-navbar-title(href='/') Members Only
    .siimple-content.siimple-content--large
      block content
    script(src="/javascripts/script.js")
