extends layout

block content
  .secret-code-form-container
    h1 Please insert the secret code below
    
    form#secret-code-form(method='POST' action='/member-signup')
      div
        label(for='secret-code')
        input#secret-code.siimple-input.siimple-input--fluid(type="text" name="secret_code" placeholder='Try "theOdinProject"' required="required")
      button.siimple-btn.siimple-btn--primary(type='submit') submit

  if wrongCode
    script
      | setTimeout(() => alert("The code you entered are incorrect. Please try Again."), 100)

  
